html {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  display: flex;
  height: 69px;
  border-bottom: 1px solid seashell;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: black;
}

nav {
  display: flex;
  padding-right: 10px;
}

header nav a {
  color: seashell;
  text-decoration: underline;
  padding-right: 10px;
  padding-left: 10px;
}

.header-logo {
  height: 50px;
  padding-left: 10px;
}

.header-logo img {
  max-height: 100%;
  max-width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%
}

#mission {
  padding-top: 62px;
  height: 700px;
  display: flex;
  justify-content: center;
}

.mission-image {
  width: 1200px;
  background-image: url("../../resources/images/img-mission-background.jpg");
  display: flex;
  align-items: center;
}

.mission-text {
  background-color: black;
  width: 1200px;
}

.mission-text h2, h4 {
  margin: 10px;
}

.featured-container {
  max-width: 1000px;
}

#featured {
  display: flex;
  justify-content: center;
  padding: 50px 100px;
}

.featured-items {
  display: flex;
  max-width: 1000px;
  flex-wrap: wrap;
  justify-content: center;
}

.featured-text {
  margin-bottom: 20px;
}

#featured img {
  max-width: 300px;
  max-height: 200px;
  margin: 0px 15px;
}

#featured p {
  margin-top: 10px;
}

#locations {
  height: 500px;
  display: flex;
  justify-content: center;
}

.locations-main {
  background-image: url("../../resources/images/img-locations-background.jpg");
  background-position: center;
  width: 1200px;
}

.locations-text {
  width: 1200px;
  height: 30px;
  margin-bottom: 15px;
  margin-top: 80px;
}

.locations-text h2 {
  margin: 0px;
}

.locations-container {
  width: 980px;
  height: 250px;
  display: flex;
  justify-content: space-between;
  margin-left: 110px;
}

.locations-content {
  width: 300px;
  height: 250px;
  background-color: black;
  opacity: 1;
}

.contact {
  height: 200px;
}

footer {
  text-align: left;
  margin-left: 20px;
}
